{% extends 'base.html' %}
{% load bootstrap %}

{% block title%} Pagina de login{% endblock%}

{% block main %}

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted"><p>Login: susu</p></span>
            <span class="text-muted"><p>Senha: 12345678</p></span>
            <span class="text-muted"><p>Feito por Suleiman Moraes</p></span>
            <span class="text-muted"><p>email: suleimanmoraes@gmail.com</p></span>
            <span class="text-muted"><p>GitHub: <a href="https://github.com/Suleiman-Moraes/gestao_clientes">https://github.com/Suleiman-Moraes</a></p></span>
            <span class="text-muted"><p>URL do repositorio git: <a href="https://github.com/Suleiman-Moraes/gestao_clientes">https://github.com/Suleiman-Moraes/gestao_clientes</a></p></span>
            <span class="text-muted"><p>URL do ambiente python: <a href="https://github.com/Suleiman-Moraes/gestao_clientes">https://github.com/Suleiman-Moraes/AmbientePython</a></p></span>
        </div>
    </footer>
{% endblock %}